=javascript_include_tag 'jquery.ddown'
=javascript_include_tag 'jquery.validate'
:javascript
  jQuery(document).ready(function() {
      jQuery('select').customStyle();
      jQuery(".btn").hover(function() {
          jQuery(this).addClass("hover");
      }, function() {
          jQuery(this).removeClass("hover");
      });
      jQuery("input.field").focus(function() {
          jQuery(this).next().show();
      });
      jQuery("input.field").blur(function() {
          jQuery(this).next().hide();
      });
      if (jQuery('.userlogin').length != 0){
        jQuery("input[type='text']").addClass('error');
        jQuery("input[type='text']").focus(function() {
          jQuery('span.username_error').hide();
        });
        jQuery('span.username_error').hide();
        jQuery("#username").keypress(function() {
          if(jQuery("#username").val()== ""){
            jQuery('.userlogin').hide();
          }
          else{
            jQuery('.userlogin').show();
            }
        });
      }
      if (jQuery('.pwd_login').length != 0){
        jQuery("input[type='password']").addClass("error");
        jQuery("input[type='password']").focus(function() {
          jQuery('span.password_error').hide();
        });
      jQuery('span.password_error').hide();
       jQuery("input[type='password']").keypress(function() {
          if(jQuery("input[type='password']").val()== ""){
            jQuery('.pwd_login').hide();
             jQuery('span.password_error').show();
          }
          else{
            jQuery('span.password_error').hide();
            jQuery('.pwd_login').show();
            }
        });
      }

      jQuery("#form").validate();
  });
.main-container
  .left-section
    .stretch
      .nav
        %ul
          %li
            %a.connect.current{:href => "#"} Connect
          %li
            %a.share{:href => "#"} Share
          %li
            %a.search{:href => "#"} Search
          %li
            %a.manage{:href => "#"} Manage
      .banner
        .banner-text
          %p
            Collaborate helps you to build relationships and grow your business. Turn your contacts into customers today.
          %input{:onclick => "location.href='/signup'", :src => "/assets/btn_getstarted.png", :type => "image"}/
  .right-section
    .logo
      %a{:href => "#"}
        %img{:alt => "Collaborate", :height => "69", :src => "/assets/logo.png", :title => "logo", :width => "251"}/
      %h1
        New to Collaborate?
        %a{:href => "/signup"} Sign Up
    = form_tag sessions_path, :id => "form" do
      .login-box
        .row
          %label Username:
          .rel
            = text_field_tag 'login', params[:login], :id => "username", :class => "text field required"
            %span.tip.username_error Enter Username
            -if @errors.present? && @errors[:login].present?
              %span.error.userlogin Enter Valid Username
        .row
          %label Password:
          .rel
            %input.text.field{:name => "password", :type => "password",:class=>"required"}
            %span.tip.password_error Enter password
            -if @errors.present? && @errors[:password].present?
              %span.error.pwd_login Enter Valid Password
        .spacerdiv
        %p{:style=>'margin-left:5.7em;'}
          = link_to "Get new password", forgot_password_url
        .row
          %label &nbsp;
          %input.btn.loginbtn.1thickbox{:alt => "#TB_inline?height=320&width=300&inlineId=myOnPageContent", :title => "Import Contacts", :type => "submit", :value => "Login"}/
  .spacerdiv
