.bannerbg
  .imgpanel
    =image_tag "banner-img.png"
  .description
    %p
      Collaborate is One-Place Stop for Members to connect, share, search and manage your dashboard. Features we currently support are:
      %span{:style => "float:right;"}
        %input.btnsignup{:alt => "Submit", :title => "Signup", :type => "submit",:value => "Join Us Today", :onclick => "window.location = '/signup'"}/       
    %p
      * User profiles
      %br
      * User search
      %br
      * Blogs with tagging, categories and rich text editing
      %br
      * Photo, Video uploading and tagging
      %br
      * Private messaging through Inbox
      %br
      * Commenting and comment notification by e-mail (Blogs, profiles, photos, videos and clippings can be commented)
      %br
      * Forums, Groups, Members & Moderators 
      %br
      * Friendships and activity feeds
      %br
      * Favoriting of clippings and blog posts
      %br
      * Events
  .spacerdiv
.spacerdiv.pad5v
