.bannerbg
  .imgpanel
    =image_tag "banner-img.png"
  .description
    %ul.nav2
      %li
        %a{:href => "#"} Connect
      %li
        %a{:href => "#"} Share
      %li
        %a{:href => "#"} Search
      %li
        %a{:href => "#"} Manage
    .spacerdiv
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ante mauris, pulvinar
      non tristique eget, ultrices et urna. Nullam pellentesque nunc ac nulla porta lobortis.
      Mauris feugiat tincidunt orci, quis ullamcorper odio tristique eu. Proin nec erat
      nec nibh cursus ullamcorper.
    %input.btnsignup{:alt => "Submit", :title => "Submit", :type => "submit", :value => "SIGN UP NOW", :onclick => "window.location = '/signup'"}/
  .spacerdiv
.spacerdiv.pad5v