
<div id="rightnav">
  <h3 class="head1">Recent Buyers</h3>
  <section>
    <ul>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor</a></li>
      <li class="txtright"><a href="#">more&raquo;</a></li>
    </ul>
  </section>
  <h3 class="head1">Recent Sellers</h3>
  <section>
    <ul>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor</a></li>
      <li class="txtright"><a href="#">more&raquo;</a></li>
    </ul>
  </section>
  <h3 class="head2">People You may Know</h3>
  <section class="section2">
    <div class="row-box2">
      <div class="photo">
        <img src="/assets/photo.png" alt="" /></div>
      <div class="photo-info">
        <a href="#">Nicholas, James</a><br />
        <span>Asst. Manager</span> <span>Corp UK</span>
      </div>
    </div>
    <div class="row-box2">
      <div class="photo">
        <img src="/assets/p1.jpg" alt="" /></div>
      <div class="photo-info">
        <a href="#">
          Pooja, Agarwal</a><br />
        <span>CEO</span> <span>Infinity Networks</span>
      </div>
    </div>
    <div class="row-box2">
      <div class="photo">
        <img src="/assets/p2.jpg" alt="" /></div>
      <div class="photo-info">
        <a href="#">
          James, Cook</a><br />
        <span>Managing Partner</span> <span>Somerset Mutual Funds</span>
      </div>
    </div>
    <div class="row-box2">
      <div class="photo">
        <img src="/assets/p3.jpg" alt="" /></div>
      <div class="photo-info">
        <a href="#">
          Lousie, Lou</a><br />
        <span>Stock Broker</span> <span>Investcorp</span>
      </div>
    </div>
  </section>
</div>
<div id="main">
  <div class="shadow">
    <div id="connections">
      <a href="#" class="close"></a>
      <h2>
        Connect to business that Interest You - <a href="#">View all</a></h2>
      <div class="spacerdiv">
      </div>
      <div class="threecol">
        <div class="col one">
          <h3>
            Communications</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in mattis metus.</p>
          <input type="submit" class="btn secondary" value="Connect" />
        </div>
        <div class="col two">
          <h3>
            Banking</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in mattis metus.</p>
          <input type="submit" class="btn secondary" value="Connect" />
        </div>
        <div class="col three">
          <h3>
            Healthcare</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in mattis metus.</p>
          <input type="submit" class="btn secondary" value="Connect" />
        </div>
        <div class="spacerdiv">
        </div>
      </div>
    </div>
  </div>
  <div class="spacerdiv pad5v"></div>
  <div class="forumpost">
    <div id="postaquestion">
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1"><img src="/assets/messages.jpg" width="16" height="12" alt="Home" align="absmiddle" /> Message</a></li>

          <li><a href="#tabs-2"><img src="/assets/blog.jpg" width="13" height="14"  align="absmiddle"/> Blog</a></li>
          <li><a href="#tabs-3"><img src="/assets/article.jpg" width="12" height="14" alt="Articles" align="absmiddle"/> Articles</a></li>
          <li><a href="#tabs-4"><img src="/assets/events.jpg" width="13" height="14" alt="Events" align="absmiddle"/> Events</a></li>
          <li class="links last"><a href="#">Attachments</a></li>
          <li class="links"><a href="#">To</a></li>
        </ul>
        <div class="tab_content" id="tabs-1">
          <div class="content">
            <div class="ddl_container">
              <select class="ddl">
                <option>Buyer</option>
                <option>Seller</option>
                <option>Merchant</option>
              </select>
            </div>
            <textarea class="queryinput" rows="1" cols="40"></textarea>
            <div class="spacerdiv"></div>
          </div>
          <input class="btn secondary" type="submit" value="Post" />
        </div>
        <div class="tab_content" id="tabs-2">
          <div class="content">
            <div class="ddl_container">
              <select class="ddl">
                <option>Buyer</option>
                <option>Seller</option>
                <option>Merchant</option>
              </select>
            </div>
            <textarea class="queryinput" rows="1" cols="40"></textarea>
            <div class="spacerdiv">
            </div>
          </div>
          <input class="btn secondary" type="submit" value="Post" />
        </div>
        <div class="tab_content" id="tabs-3">
          <div class="content">
            <div class="ddl_container">
              <select class="ddl">
                <option>Buyer</option>
                <option>Seller</option>
                <option>Merchant</option>
              </select>
            </div>
            <textarea class="queryinput" rows="1" cols="40"></textarea>
            <div class="spacerdiv">
            </div>
          </div>
          <input class="btn secondary" type="submit" value="Post" />
        </div>
        <div class="tab_content" id="tabs-4">
          <div class="content">
            <div class="ddl_container">
              <select class="ddl">
                <option>Buyer</option>
                <option>Seller</option>
                <option>Merchant</option>
              </select>
            </div>
            <textarea class="queryinput" rows="1" cols="40"></textarea>
            <div class="spacerdiv">
            </div>
          </div>
          <input class="btn secondary" type="submit" value="Post" />
        </div>
      </div>
    </div>
    <div class="header2">
      <a class="brdlt" href="#">My Network</a><a class="current" href="#">All</a>
      <h2>Recent Activity</h2>
    </div>
    <div class="row-box first">
      <div class="photo-box">
        <img src="/assets/p1.jpg" alt="" /></div>
      <div class="photo-text">
        <h3>Need local banking help!</h3>
        <span>Anju George, Private Broker, Bank of America</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in mattis metus. Aenean bibendum tortor id odio rutrum nec suscipit nunc pulvinar.</p>
        <p><a href="#">Comment</a> | <a href="#">Connect</a></p>
      </div>
    </div>
    <div class="row-box">
      <div class="photo-box">
        <img src="/assets/p3.jpg" alt="" /></div>
      <div class="photo-text">
        <h3>
          Need local banking help!</h3>
        <span>
          Anju George, Private Broker, Bank of America</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in mattis metus. Aenean
          bibendum tortor id odio rutrum nec suscipit nunc pulvinar.</p>
        <p>
          <a href="#">Comment</a> | <a href="#">Connect</a></p>
      </div>
    </div>
    <div class="row-box">
      <div class="photo-box">
        <img src="/assets/p2.jpg" alt="" /></div>
      <div class="photo-text">
        <h3>
          Need local banking help!</h3>
        <span>
          Anju George, Private Broker, Bank of America</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in mattis metus. Aenean
          bibendum tortor id odio rutrum nec suscipit nunc pulvinar.</p>
        <p>
          <a href="#">Comment</a> | <a href="#">Connect</a></p>
      </div>
    </div>
    <div class="row-box">
      <div class="photo-box">
        <img src="/assets/p3.jpg" alt="" /></div>
      <div class="photo-text">
        <h3>
          Need local banking help!</h3>
        <span>
          Anju George, Private Broker, Bank of America</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in mattis metus. Aenean
          bibendum tortor id odio rutrum nec suscipit nunc pulvinar.</p>
        <p>
          <a href="#">Comment</a> | <a href="#">Connect</a></p>
      </div>
    </div>

    <div class="spacerdiv"></div>
  </div>
</div>
<div class="spacerdiv">
</div>
