
<%= stylesheet_link_tag 'community_engine' %>
<%= javascript_include_tag 'jquery-1.6.1.min'  %>

<script>
  jQuery(document).ready(function() {
    jQuery(".centered").click(function() {
      if(jQuery(this).css("background-color") == "rgb(255, 255, 255)")
      {jQuery(this).css("background-color", "#75D675");}
      else{jQuery(this).css("background-color", "white");}
    });
  });
</script>
<div style="margin-top:100px">
  <div class="centered">
    <img src="/assets/linkedin_32.png" class="float_l"></img>
    <span class="float_l margin_5" >Professional contacts from LinkedIn</span>
  </div>
  <div class="centered">
    <img src="/assets/facebook_32.png" class="float_l"></img>
    <span class="float_l margin_5" >Import friends from Facebook</span>
  </div>
  <div class="centered">
    <img src="/assets/twitter_32.png" class="float_l"></img>
    <span class="float_l margin_5" >Import Contacts from Twitter</span>
  </div>
</div>

<div class="skip_step">
  <a href="<%= dashboard_user_path(@user) %>">skip getting started →</a>
</div>