%div{:style=>"margin:14px"}
  =form_tag '/connections/current_user.id' do
    -if @groups_connection.present?
      %h4 Groups
      %ul
        -@groups_connection.each do |group|
          %li
            =check_box_tag 'connections[group_ids][]', group.group_id,false,{:onchange => 'submit_search_form()'}
            =group.group_name.titleize
    -if @business_connection.present?
      %h4 Company
      %ul
        -@business_connection.each do |company|
          %li
            = check_box_tag 'connections[company][]', company
            = company.titleize
:javascript

  function submit_search_form(){
  alert("hello");
  //new Ajax.Request("/connections/#{current_user.id}",{asynchronous:true, evalScripts:true, method:'get'});
  jQuery.ajax({
    data: jQuery(this).parent().parent().parent().serializeArray(),
    //dataType:'script',
    //type:'post',
    url:"/connections/#{current_user.id}",
    success: function(){
      alert("done");
    }
  });
  }